<div class="container">
  <div>
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{member}}</li>
    </ul>
  </div>
  <div class="add-members-container">
    <input #addMemberInput type="text" placeholder="Name" (input)="onInput(addMemberInput.value)"
      [value]="newMemberName">
    <button (click)="addMember()">Add</button>
  </div>
  <div class="input-container">
    <input #numOfTeams type="number" placeholder="# of teams" (input)="getTeams(numOfTeams.value)">
    <button (click)="generateTeams()">Generate</button>
  </div>
  <div>
    <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
  </div>
  <div *ngFor="let team of newArray; let i= index " class="team">
    <h2>Team {{i+1}} </h2>
    <div class="block">
      <h3>{{team}}</h3>
    </div>
  </div>
</div>
