<div class="container">
  <div>
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{member}}</li>
    </ul>
  </div>
  <div class="add-members-container">
    <input #addMemberInput type="text" placeholder="Name" (input)="onInput(addMemberInput.value)"
      [value]="newMemberName">
    <button (click)="addMember()">Add</button>

  </div>
  <div class="input-container">
    <input #numOfTeams type="text" placeholder="# of teams" (input)="getTeams(numOfTeams.value)">
    <button (click)="displayTeams()">Generate</button>

  </div>
  <div>
    <h1>{{teams}}</h1>
    <p *ngIf="errorMessage" style="color: red;">{{errorMessage}}</p>
  </div>
</div>
